body {
  background-color: #f5f8fa;
  font-family: 'Helvetica Neue', sans-serif;
  display: block;
}
p {
  padding-bottom: 0px;
  margin: 0px;
}
ul {
  list-style: none;
  text-align: left;
}
.container {
  display: flex;
  background-color: #f5f8fa;
  border: solid 1px grey;
  flex-wrap: wrap;
  justify-content: center;
  order: 1;
}
.navigationsearch {
  justify-content: space-around;
  width: 100%;
  padding: 12px;
  order: 1;
  background-color: white;
  font-family: 'Helvetica Neue', sans-serif;
  align-items: center;
  align-content: center;
  text-align: center;
}
.header {
  background-image: url('https://pbs.twimg.com/profile_banners/733318062754004992/1490373566/1500x500');
  background-size: cover;
  background-color: #3B4A77;
  height: 25vw;
  width: 100%;
  text-align: center;
  color: white;
  align-items: center;
  order: 2;
}
.header h1 {
  font-size: 50px;
  order: 2;
}
.header h3 {
  font-size: 25px;
  order: 2;
}
.statsbar {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-bottom: solid 2px grey;
  width: 100%;
  padding: 9px;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 30px;
  order: 3;
}
.stat {
  font-size: x-small;
  padding: 0px;
  margin: 0px;
}
.follow {
  background-color: #598FC1;
  border-radius: 3px;
  color: white;
}
.content {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  order: 4;
  background-color: #f5f8fa;
  align-items: stretch;
  padding: 20px;
}
.leftbar {
  width: 20%;
  flex-grow: 1;
  text-align: center;
}
.about {
  align-self: center;
  align-items: center;
  align-content: space-around;
  text-align: center;
  justify-content: center;
  position: relative;
  top: -130px;
}
.icon {
  background-color: #598FC1;
  border: solid 6px white;
  border-radius: 15px;
  width: 15vw;
  height: 15vw;
  align-items: center;
  align-content: center;
  align-self: center;
  margin: 0px;
}
.iconsmall {
  border: solid 1px white;
  border-radius: 5px;
  width: 5vw;
  height: 5vw;
}
.bio {
  font-size: small;
  align-items: center;
}
.bio h1 {
  font-weight: bold;
}
.bio h3 {
  color: #ccc;
}
.feed {
  width: 40%;
  flex-direction: column-reverse;
  flex-grow: 2;
  padding-left: 10px;
  padding-right: 10px;
}
.cardheader {
  background-color: white;
  border: solid 1px #ccc;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardheader li {
  display: inline-block;
  font-size: large;
  padding-right: 10px;
}
.card {
  background-color: white;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  display: flex;
  align-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 10px;
}
.tweet {
  background-color: white;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.rightbar {
  width: 20%;
  flex-grow: 1;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 0px;
  align-content: center;
  align-items: center;
}
.whotofollow {
  background-color: white;
  border: solid 1px grey;
  justify-content: space-around;
  margin-bottom: 20px;
}
.trending {
  background-color: white;
  border: solid 1px grey;
}
/*text styling*/
.name {
  font-size: large;
  font-family: 'Arial', sans-serif;
  color: #000;
  font-weight: bold;
}
.handle {
  font-size: small;
  font-family: 'Arial', sans-serif;
  color: grey;
  font-weight: lighter;
}
.does-follow {
  font-size: small;
  font-family: 'Arial', sans-serif;
  color: grey;
  font-weight: lighter;
  text-transform: uppercase;
}
.tweet-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10px;
}
.tweet-pic {

}
.tweet-name {
  font-size: small;
  font-weight: bold;
}
.tweet-handle {
  font-size: small;
  color: grey;
}
.tweet-date {
  font-size: small;
  color: grey;
}
.tweet-text {
  font-size: small;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tweet-stats {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  align-content: space-between;
  padding-top: 10px;
  padding-bottom: 0px;
}
.reply-count {
  font-size: small;
  color: #ccc;
  font-weight: bold;
  padding-right: 5vw;
}
.retweet-count {
  font-size: small;
  color: #ccc;
  font-weight: bold;
  padding-right: 5vw;
}
.like-count {
  font-size: small;
  color: #ccc;
  font-weight: bold;
  padding-right: 5vw;
}
